.container {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    color: #81a72a;
}

.is_home {
    font-size: 30px;
    color: black;
}

.name {
    flex: 0 0 60%;
}

.offset {
    flex: 0 0 20%;
    text-align: center;
}

.city {
    font-weight: bold;
}

.region {
    font-size: 12px;
    line-height: 12px;
}