.container {
    flex: 0 0 calc(30% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.home {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    color: #81a72a;
}

.is_home {
    font-size: 30px;
    color: black;
}

.name {
    overflow: hidden;
}

.offset {
    text-align: center;
}

.city {
    max-width: 100%;
    font-weight: bold;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.region {
    font-size: 12px;
    line-height: 12px;
}