.container {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.input {
    height: 100%;
    border-radius: 5px;
    border: 1px solid #535927;
    font-size: 100%;
    padding: 4px 5px 6px;
}