.container {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f0c4;
}

.dragging {
    box-shadow: 0 4px 20px -5px rgba(0,0,0,0.75);
} 